<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/javascripts/bootstrap.js"></script>
</head>

<div class="container">
        <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/registration">Sign up</a></li>
                <li><a href="/login">Login</a></li>
              </ul>
              <br/>
              <h1>User logged in</h1>
    Name: <%= user.username %><br>

    email: <%= user.email%><br>

    <a href="/">Logout</a>
  </div>
</html>
